*{
    margin: 0;
    padding: 0;
    
}

body{
    box-sizing: border-box;
    font-family: 'Source Sans Pro',
    sans-serif;
}
#wrapper a{
    text-decoration: none;
    color: black;
}

#wrapper{
    width: 100%;
    height: 70px;
    background-color: aqua;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navbar-menu a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 10px;
}

